/* Estilos para el contenedor principal */
.container {
    position: relative; /* Asegura que la posición absoluta de la lista sea relativa al contenedor */
    display: flex;
    width: 424px;
    padding: 14px 24px;
    align-items: flex-start;
    gap: 240px;
    border-radius: 50px;
    background: var(--Neutral-Colors-Color-300, #F9F9FF);
  }
  
  /* Estilos para la lista de sugerencias */
  .suggestions-list {
    position: absolute; /* Posiciona la lista de sugerencias */
    top: 100%; /* Coloca la lista debajo del input */
    left: 0; /* Alinea la lista con el lado izquierdo del contenedor */
    width: 100%; /* La lista ocupa todo el ancho del contenedor */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    max-height: 200px; /* Altura máxima de la lista */
    overflow-y: auto; /* Scroll vertical si hay demasiadas sugerencias */
    list-style: none; /* Quita la barra fea de subir y bajar */
  }
  
  /* Estilos para cada elemento de la lista de sugerencias */
  .suggestion-item {
    padding: 4px 8px;
    cursor: pointer;
  }
  
  /* Estilos para los elementos de la lista de sugerencias cuando se pasa el mouse por encima */
  .suggestion-item:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
  }