input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 24px;
}

input#search-bar:focus {
  border: 1px solid #7bb924;
  transition: border 0.35s ease;
  color: #7bb924;
}

input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

.searchBar{
  height: 48px;
}

.suggestions-list {
  position: relative; /* Para que el z-index funcione */
  z-index: 999; /* Un valor alto para asegurar que esté por encima del contenido */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-top: 8px;
  color: black;
}

.suggestion-item {
  padding: 4px 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #000;
  color: white;
}

@media only screen and (max-width: 768px) {
  input#search-bar {
    width: calc(100% - 95px); /* Ajusta el ancho de la barra de búsqueda en dispositivos móviles */
    padding-right: 75px; /* Ajusta el espacio para el ícono de búsqueda */
    font-size: 0.9rem; /* Reduce el tamaño de fuente en dispositivos móviles */
  }

  .search-icon {
    width: 50px; /* Reduce el tamaño del ícono de búsqueda en dispositivos móviles */
    height: 50px;
    top: -50px; /* Ajusta la posición del ícono de búsqueda */
    right: 0.1%; /* Ajusta la posición del ícono de búsqueda */
  }

  .searchBar {
    height: 45px; /* Ajusta la altura de la barra de búsqueda en dispositivos móviles */
  }
}